.jumbotron {
  background: #673AB7;
}

.jumbotron h1 {
  color: #F5F5F5;
}

body {
  background: #EEEEEE;
}

.teamElement {
    height: 600px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

}
